@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-light: #b39eff;
  --secondary-light: #cfe2ff;
  --tertiary-light: #dedaff;
  --primary-dark: #181141;
  --secondary-dark: #090e25;
  --tertiary-dark: #00142b;
}

/* Home Goals: */
.goals-card {
  @apply my-5 flex h-[25vh]  items-end rounded-lg border border-slate-200 border-opacity-10 p-5 text-center md:h-[70%] md:w-[25%];
}

/* Missions */
.shadow-max {
  box-shadow: white 0px 10px 10px 20px;
}
